    /* LOGICA */
    #messaggio-errore {
        position: fixed;
        top: 20px;
        left: 50%;
        transform: translateX(-50%);
        z-index: 1000;
        display: none;
    }

    .checkbox-button {
        width: 4em;
        height: 4em;
        background-size: cover;
        background-position: center;
        border-radius: 4px;
        cursor: pointer;
        transition: filter 0.2s, opacity 0.2s;
        display: inline-block;
    }

    /* Grigio se deselezionato */
    input[type="checkbox"]:not(:checked) + .checkbox-button {
        filter: grayscale(100%);
        opacity: 0.6;
    }